a {
	color:#3c1874;
	text-decoration: none;
}

body{
	margin		:40px auto;
	max-width	:1000px;
	line-height	:1.6;
	font-size	:16px;
	color		:#283747;
	background-color :#f3f3f3;
	padding		:0 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

b {
	color:#3c1874
}

h1 {
	text-align:center;
	color:#932432
}

h2 {
	color:#932432
}

h3 {
	line-height:1.2;
	color:#932432
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}