a {
	color:#003262;
	text-decoration: none;
}

body{
	margin		:40px auto;
	max-width	:1000px;
	line-height	:1.6;
	font-size	:16px;
	color		:#53626f;
	background-color :#f4f4f4;
	padding		:0 10px;
	font-family: "Palatino", serif;
}

b {
	color:#003262
}

h1 {
	text-align:center;
	color:#00b0da
}

h2 {
	color:#00b0da
}

h3 {
	line-height:1.2;
	color:#00b0da
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}